header {
    width: 100%;
    height: 300px;
    background-color: green;
    background-image: url(../images/production.png);
}
.headline {
    max-width: 1210px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    margin: 0 auto;
}
.head {
    font-size: 45px;
    padding-left: 16px;
    color:#ddcca3;
    text-shadow: 1px 1px 3px #666, -1px -1px 3px #FFF, 1px 1px #666, -1px -1px #FFF;
}
.header-container {
    width: 100%;
    height: 100px;
    background-color: white;
}
.header-container_top {
	max-width: 1210px;
	margin-left: 10%;
	margin-right: 10%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}
.header-container_logo {
	padding-left: 16px;
        margin: 21px 0;
	float: left;
}
.header-container_menu {
	padding: 0 16px;
	display: flex;
	float: left;
        width: auto;
}
li {
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.menu {
	display:flex;
        width: 100%;
	text-align: center;
	float:left;
}

.menu_item {
    	display:inline-block;
	text-align: center;
        margin: 21px 0;
}

.menu a {
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	line-height: 3em;
        font-size: 16px;
        color: black;
        font-family: 'Ubuntu';
}

.menu a:hover {
	background: grey;
}

.header-container_call {
	float: left;
	display: block;
	width: auto;
        text-align: center;
        padding: 0 16px;
}
.header-container_link {
	margin: 21px 0;
        padding-left:35px;
        position: relative;
        text-align: left;
}
.call-image {
	width: 20px;
        height: 20px;
        position: absolute;
	padding-top: 16px;
	padding-bottom: 16px;
	float:left;
        display:block;
        left:0;
}
.header-container_link a {
	display:block;
        font-size: 22px;
}
.header-container_tel {
	margin-left: 20px;
	overflow:auto;
	padding-top: 5px;
	text-align: right;
}
.content {
	margin-left: 10%;
	margin-right: 10%;
	display: block;
	max-width: 1210px;
	margin: 0 auto;
	 background-image: url(../images/bg.png);
}
.content-navigation {
	padding-top:20px;
	margin: 16px;
}
.content-navigation_text {
	display:inline;
}
p {
	margin: 16px;
	text-align: justify;
	font-size: 16px;
	font-family: 'Ubuntu';
}
.image-content {
	overflow: auto;
}
.image {
	margin: 16px;
	float: left;
	display: inline-block;
}
h1 {
	display:inline-block;
	padding-top: 50px;
	margin-left: 20%;
        left:0px;
}
h2 {
	color: red;
	font-size: 40px;
	text-align: center;
        font-family: 'Ubuntu:600';
}
h4 {
	text-align: center;
	color: red;
	font-size: 30px;
}
.section-question {
    width: 100%;
    height: 516px;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 55px 0;
}
.section-container { 
    margin: 60px auto;
    max-width: 517px;
}
h3 {
    text-align:center;
    font-size: 32px;
    font-family: 'Ubuntu';
	color: #900023;
}
.section-container_input{
    display:block;
    margin: 10px 0;
}
.section-container_form{
    margin: 60px 80px;
} 

.input-section {
    height: 60px;
    width: 100%;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
	font-size: 25px;
	text-transform: uppercase;
        font-family: 'Ubuntu';
}
button {
    margin-top: 10px;
    width: 360px;
    height:60px;
	font-size: 25px;
	text-transform: uppercase;
	background-color: #348976;
	color: white;
	border-radius: 10px;
}
footer{
    padding:80px 0;
    width: 100%;
    height: 300px;
    background-color: black;
}
.footer-container{
    max-width: 1210px;
    margin: 0 auto;
    display:flex;
}
.footer-container_item {
    padding: 0 16px;
    width: 33%;
    float: left;
}
.developer {
	display: flex;
	align-items: center;
	color: orange;
	padding: 16px 0;
}
.developer > span {
}
.footer-container_desc {
    display: block;
    margin: 16px 0;
    color: #a9a8a8;
	font-family: 'Ubuntu';
}
.social-link {
    margin-right:5px;
    height: 25px;
    width: 25px;
}
.footer-menu {
    padding-top: 47px;
    list-style: none;
    columns: 2;
}
.footer-menu_item {
    display: list-item;
}
.footer-menu_item a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu';
}
.footer-info {
    display:block;
    color:white;
    margin-top: 20px;
}
.footer-info_title {
    font-size: 20px;
    display: block;
    text-align: right;
    font-family: 'Ubuntu';
}
.footer-info_contact{
    display: block;
    text-align: right;
    font-family: 'Ubuntu';
}